<div class="card p-3 mt-3">
    <h1 class="mt-5">Seja Bem-Vindo!</h1>
    <p>
        Total de moedas cadastradas: <b><%= @coins.length %></b>
    </p>
    <%= link_to 'Lista de moedas', coins_path, class: 'btn btn-primary p-2' %>
</div>