<div class="card p-3 mt-3">
     <%= render "menu" %>
    <p>Rodando no ambiente de: <%= ambiente_rails %></p>
    <p>Nome: <%= @nome.upcase %></p>
    <%= link_to 'Lista de moedas', coins_path, class: 'btn btn-primary p-2' %>
</div>